/* ActivityInfo.css */
.activity-info-container {
  text-align: center;
}

.info-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #0074b8;
}

.rankings-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #f0f0f0; /* 可愛らしい色に変更 */
  padding: 20px;
  border-radius: 8px;
  margin: 10px 0;
}

.ranking-column {
  flex: 1;
  text-align: left; /* 左揃えに修正 */
}

.ranking-container {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  margin: 10px 0;
  text-align: left; /* 左揃えに修正 */
}

.ranking-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.ranking-list {
  list-style: none;
  padding: 0;
}

.ranking-item {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}

.player-name {
  font-weight: 600;
}

.player-value {
  font-weight: 400;
}
